form{
    border: 1px solid black ;
    border-radius:70px;
    padding-top: 50px;
    padding-left: 60px;
    font-size: 15px;
}
#but{
    margin-top: 30px;
    width: 1300px;
    margin-bottom: 30px;
}